gabrielemondino.it www.gabrielemondino.it {
    encode gzip

    route /api/* {
        reverse_proxy http://portfolio_server:3001
    }

    route /* {
        reverse_proxy http://portfolio_client:80
    }
}